@import "bootstrap";
@import "font-awesome";

body {
  background-color: #4F676F;
}

i, a {
  color: white;
}

a:hover {
  text-decoration: none;
  color: #ededed;
}

a > i.fa {
  margin: 100px 0;
}

#myGroup {
  margin-top: 48px;
}

.landing-link-container > i {
  margin-right: 10px;
}

div.row:nth-of-type(2) div div.row:nth-of-type(1) {
  margin-top: 100px;
}
div.row:nth-of-type(2) div div.row:nth-of-type(2) {
  margin-top: 64px;
  margin-bottom: 100px;
}
div.row:nth-of-type(4) div div.row:nth-of-type(1) {
  margin-top: 100px;
}
div.row:nth-of-type(4) div div.row:nth-of-type(2) {
  margin-top: 64px;
  margin-bottom: 100px;
}
div.row:last-child {
  margin-bottom: 100px;
}
