<div class="card">
  <div class="card-header">
    <h2 class="card-title">New Baptism</h2>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col">
        <%= render partial: 'baptism' %>
      </div>

      <div class="col">
        <% ['baptised', 'mother', 'father', 'godmother', 'godfather'].each do |role| %>
        <div class="card d-none side-fields">
          <div class="card-header">
            <h3 class="card-title"><%= role %></h3>
          </div>
          <div class="card-body" id="<%= role %>_fields">
            <%= render partial: 'people/nin_form', locals: { selector: "##{role}_fields" } %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer">
    ChurchManager @2018 - Developed by <a href="//bitbox.cl">BitBox.cl</a>
  </div>
</div>
