<!DOCTYPE html>
<html>
  <head>
    <title>ChurchManager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'landing', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
